APP_ENV=development

POSTGRES_DB=educore
POSTGRES_USER=educore
POSTGRES_PASSWORD=put-your-database-password-here

DATABASE_URL=put-your-database-url-here
REDIS_URL=put-your-redis-url-here
SECRET_KEY=put-your-secret-key-here